* {
    margin:10px;
    padding-top:1px;
    box-sizing: border-box;
    background-color: #eaeaea;  
}

html {
    font-size: 62.5%;
}

#header {
    background-color: #C4C4C4;
    font-family: "Share Tech", sans-serif;
    margin:auto;
    height: 400px;
    width:500px;
    position: relative;
}
ul, ol {
    list-style:none;
    padding-bottom: 2070px;
}

.container{
    float: left;
}
